<mat-card>
    <mat-card-title class="p-3">Countries</mat-card-title>
    <mat-table [dataSource]="countries" class="mat-elevation-z8">
  
      <!-- Country Name Column -->
      <ng-container matColumnDef="CountryName">
        <mat-header-cell *matHeaderCellDef> Country Name </mat-header-cell>
        <mat-cell *matCellDef="let country"> {{ country.countryName }} </mat-cell>
      </ng-container>
  
      <!-- Country Code Column -->
      <ng-container matColumnDef="CountryCode">
        <mat-header-cell *matHeaderCellDef> Country Code </mat-header-cell>
        <mat-cell *matCellDef="let country"> {{ country.countryCode }} </mat-cell>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let country">
          <button mat-icon-button color="primary" (click)="editCountry(country)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCountry(country)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  