<mat-card>
  <mat-card-title class="p-3"><h2>Importers</h2></mat-card-title>
  <mat-table [dataSource]="importers" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let importer"> {{ importer.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let importer"> {{ importer.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gstNo">
      <mat-header-cell *matHeaderCellDef> GST No </mat-header-cell>
      <mat-cell *matCellDef="let importer"> {{ importer.gstNo }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let importer"> {{ importer.address }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedImporterColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedImporterColumns;"></mat-row>
  </mat-table>
</mat-card>
